@page "/"

<PageTitle>Welcome Page</PageTitle>

<h1>This is my Progressive Web App</h1>

<img title="This is the way Angular looks when you build" alt="This is the way Angular looks" src="https://i.ytimg.com/vi/kxiOyhOj-SQ/maxresdefault.jpg" />

